body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  
  background-color: #CB8B49;

  /* Set a specific height */
  height: 100%;
  /* width: 150%; */
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text 
{
  font-family: "Goudy Old Style";
  font-size: 150%;
  font-style: italic;
  text-align: top;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.img
{
    height: 50%;
    width: 100%;
    image-resolution: 100%;
}